.container {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  padding: 0 2rem;
  margin: 0 auto;
  gap: 1rem;
  margin-bottom: 4rem;
}

.header {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  font-weight: 500;
}

.button_area {
  display: flex;
  justify-content: flex-end;
}

.toMarket {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--main);
}

.title {
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--gray-900);
}

.card_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* ✅ 한 줄에 5개씩 */
  gap: 1rem; /* ✅ 카드 간격 */
}

.card_wrapper {
  width: 100%;
  max-width: 15rem; /* ✅ 카드의 최대 크기 설정 */
}
